<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
 </head>

<body>

<h1 >Hello, you can join to chat! </h1>

   <form method="post" action="/start" th:object="${message}" >
       <input type="text"  th:field="*{text}" placeholder="Insert message" >
       <input type="text"  th:field="*{tag}" placeholder="Insert message" >
       <button type="submit">Enter</button>
   </form>

<div>Список сообщений</div>

<th:block th:each="m: ${messages}">
    <div>
    <b th:text="${m.getId()}"> id </b>
    <span th:text="${m.getText()}" >message</span>
    <i th:text="${m.getTag()}">tag</i>

 </div>

</th:block>
</body>
</html>